img src= images/dante.jpg{
    width: 250px;
    height: 350px;
}
.topnav{
    display: inline-block;
    background-color: teal;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-size: x-large;
}
.bottom{
    padding: 5px;
}
.top{
    background-color: #EAC753;
}
.bottom{
    background-color: blanchedalmond;
}
.leftcontainer{
    width:29%;
    float: left;
}
.rightcontainer{
    width:71%;
    background-color: #96F3EE; 
    float: right;
}